@import '../../themes/default';

@PrefixCls: row;
@ColorCard: white;
@ColorInfo: white;

.imgs {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px 15px 0 15px;
}

.outerflex {
  padding: 20px 20px;
  background: #fff;
  display: flex;
  justify-content: start;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.@{PrefixCls}-party-outer {
  padding: 0 25px;
  &-text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-time {
      color: #656577;
    }
  }
}

.@{PrefixCls}-message-content {
  font-size: 30px;
}

.@{PrefixCls}-message-title {
  & h3 {
    margin: 0;
    font-size: 35px;
  }
}

.@{PrefixCls}-newbox {
  :global {
    .am-badge-corner-wrapper {
      width: 100%;
    }
  }
}

//chapter start
.@{PrefixCls}-chapter-outer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  &-left {
    & span {
      text-anchor: middle; /* 文本水平居中 */
      dominant-baseline: middle; /* 文本垂直居中 */
    }
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &-title {
      margin-left: 10px;
    }
  }
  &-right {

    &-W {
        padding: 0.05rem;
        border-radius: 10px;
        overflow: hidden;
        color: white;
    }
  }
}

// grade start
.@{PrefixCls}-grade-outer {
  padding: 28px;
  background: #fff;
  display: flex;
  flex-direction: column;

  &-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    &-left {
      display: flex;
      align-items: center;
      & img {
        width: 60px;
        height:60px;
      }
      & span {
        max-width: 60%;
        margin-left: 20px;
        font-size: @mediumFontSize;
        font-weight: bold;
        overflow:hidden; //超出的文本隐藏
        text-overflow:ellipsis; //溢出用省略号显示
        white-space:nowrap; //溢出不换行

      }
    }
    &-right{
      display: flex;
      flex-direction: column;
      font-size: @smallFontSize;
      & span{
        color: #c1c1c1;
        text-align: right;
      }
    }
  }
  &-content{
    color:#5f5f5f;
    line-height: 1.5em;
    padding-bottom: 30px;
    border-bottom: 2px solid #efefef;
  }
}

.@{PrefixCls}-fra{
  &-content{
    font-size:28px;
    flex: 1;
    padding: 0 0.6rem;
  }
  :global{
    .am-list-item:not(:last-child) .am-list-line{
      border: 0 none !important;
    }
    .am-list-item .am-list-line .am-list-content{
      font-size: 28px !important;
    }
    .am-list-line .am-list-content{
        display: flex;
        justify-content: space-between;   
    }
  }
}

.@{PrefixCls}-exhibition{
display:flex;
justify-Content: space-between;
padding:0.2rem;
background:white;
    &-comm{
        font-size:0.23rem;
        font-weight:300
    }
    &-image{
        flex:30%;
        border-radius:10px;
        overflow:hidden;
      & img{
          width:100%;
          height:100%;
      } 
    }
    &-tex{
        flex:70%;
        &-chil{
            float:left;
            padding:0.1rem;
            width:100%; 
        }
    }
    &-onButt{
        color:#45b97c;
        float:right;
        border-radius:50px;
        border:solid 1px #a1a3a6;
        padding:0.1rem 0.2rem;
    }
    &-botto{
        font-size:0.23rem;
        font-weight:300;
        padding:0.2rem;
        width:100%;
        float:left;
        display:flex;
        align-items:center;
    }
}

.@{PrefixCls}-progre{
  &-item{
    display: flex;
    padding:20px 20px 10px ;
  }
  &-imgbox{
  position: relative;
  width:240px;
  height:180px;
      & img{
        width:240px;
        height:180px;
      }
      &-mask{
        padding: 20px;
        position: absolute;
        top:0;
        bottom: 0;
        left:0;
        right:0;
        background: rgba(0,0,0,.5);
        z-index: 1;
        color:#fff;
        font-size: 32px;
        text-align: center;
        line-height: 180px;
      }
  }
  &-info{
  margin-left:10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
    &-title{
    text-indent: 2em;
    font-weight: bold;
    font-size: @commonFonetSize;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  &-box{
    display: flex;
    &-item{
      margin-right: 40px;
        color: white;
        border-radius: 10px;
        background: dodgerblue;
        height:0.5rem;
        width:1.5rem;
        text-align:center;
        line-height: 0.5rem
    }
  }
  }
}

.@{PrefixCls}-note{
    margin: 0.1rem 0.3rem;
    background: white;
    padding: 0.2rem;
    border-radius: 10px;
    box-shadow:3px 2px 5px 1px #d0d0d0;
    overflow:hidden;
    div {
        padding: 5px 0;
    }
}