@import '~antd-mobile/lib/style/themes/default.less';

@primary-color: #108ee9;
@fill-body: #edf4fa;
@primary-header-height: 90px;
@hd: 2px;
@infoColor:#666;
@opacity:rgba(0,0,0,.5);
@commonFonetSize:28px;
@PublicTitleFontSize:34px;
@infoColor: #666;
@opacity: rgba(0, 0, 0, .5);
@commonFonetSize: 28px;
@titleFontSize: 34px;
@mediumFontSize: 30px;
@smallFontSize:26px;
@navColor:#fff;

