@import '../../themes/default.less';
@PrefixCls: shopping;

.@{PrefixCls}-shopping{
    text-align: center;
     margin-Top: 50%;
     font-size: @PublicTitleFontSize;
     & img{
        width: 35%        
     }
}
