@import "../../themes/default";

@PrefixCls:homeworkdetails;
.@{PrefixCls}-container{
  background: #fff;
  padding: 20px;
  & div{
    font-size: @titleFontSize;
  }
  & p{
      font-size: @commonFonetSize;
  }
}
